@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

main{
    margin-top: 30px;
}

.image{
    width: 450px;
    height: 400px;
}
.image img{
    width: 450px;
    height: 400px;
    object-fit: cover;
}
h2{
    font-weight: 600;
}
h5 ,h3{
    font-weight: bold;
}
p{
    font-weight: bold;
}
button{
    background-color: white;
    
}
.button {
    margin-top: 5px;
}
.hr{
    border: 2px solid black;
}
.bonus-section-article{
    text-align: center;
}